.intro-section {
  background-image: url('../../assets/clothes/img2.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding:  50px;

  .intro-text {
    padding: 20px;
    background-color: #8000809c;
    height: 100%;
  }
}
